//v65:blog:archives

//variables
$margin-bottom: 1.5rem !default;


.v65-blogArchives {
	margin: 0 0 $margin-bottom;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		ul {
			display: none;
			margin: 0.5em;
		}
	}

	span {
		&:before {
			content: "("
		}
		&:after {
			content: ")"
		}
	}

}