//v65:blog:authors

//variables
$margin-bottom: 1.5rem !default;


.v65-blogAuthors {
	margin: 0 0 $margin-bottom;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	span {
		&:before {
			content: "("
		}
		&:after {
			content: ")"
		}
	}

}