//v65:wine:specs

.v65-wine-spec {
	@include clearfix;
	margin-bottom: 0.5em;
}

	.v65-wine-specLabel {
		float: left;
		padding-right: 1%;
		text-align: right;
		width: 50%;
	}

	.v65-wine-specValue {
		float: left;
		padding-left: 1%;
		width: 50%;
	}


.v65-wine-alcohol {

}

.v65-wine-appellation {

}

.v65-wine-bottleSize {

}

.v65-wine-region {

}

.v65-wine-type {

}

.v65-wine-varietal {

}

.v65-wine-vineyard {

}

.v65-wine-vineyardDesignation {

}

.v65-wine-vintage {

}


//More Tab
.v65-wine-acid {

}

.v65-wine-aging {

}

.v65-wine-bottlingDate {

}

.v65-wine-fermentation {

}

.v65-wine-harvestDate {

}

.v65-wine-ph {

}

.v65-wine-residualSugar {

}

.v65-wine-sugar {

}

.v65-wine-supplier {

}

.v65-wine-tannin {

}


//More Tab - Pro Reviews
.v65-wine-wsProReview {

}

.v65-wine-weProReview {

}

.v65-wine-rpProReview {

}

.v65-wine-cgProReview {

}

.v65-wine-jhProReview {

}

.v65-wine-stProReview {

}

.v65-wine-wnProReview {

}

.v65-wine-wandsProReview {

}

.v65-wine-waProReview {

}

.v65-wine-wbProReview {

}