//v65:tools

.v65-tools {
	@include clearfix;
	font-size: 0.875em;
	padding: 0 1em;
	position: relative;
	width: 100%;
	z-index: 99;

	@media screen and (min-width: 30em) {
		text-align: right;
		width: auto;
	}	
}
			   
.v65-user {
	display: inline-block;
	line-height: 3em;
	position: relative;

	@media screen and (min-width: 30em) {
		width: auto;
	}
}

	.v65-login {
		display: inline-block;

		@media screen and (min-width: 30em) {
			
			&:after {
				content: "\00a0\00a0\00a0\00a0";
			}

		}

	}

	.v65-welcome {
		display: inline-block;
		position: relative;

		&:after {
			content: "\00a0\00a0|\00a0\00a0";
		}

		span {
			display: none;

			@media screen and (min-width: 30em) {
				display: inline;
			}

			&:after {
				content: ":\00a0";
			}
		}

	}

	.v65-logout {
		display: inline-block;

		@media screen and (min-width: 30em) {
			
			margin-right: 2em;

		}

	}

.v65-cart {
	float: right;
	line-height: 3em;
	position: relative;
	text-align: right;

	@media screen and (min-width: 30em) {
		display: inline-block;
		float: none;
		text-align: left;
	}
}

.v65-cartDropdown {
	background: #fff;
	border: 1px solid #ccc;
	display: none;
	font-size: 0.75em;
	position: absolute;
	padding: 0.5em 0.5em 0 0.5em;
	top: 4em;
	right: 0;
	width: 100%;

	@media screen and (min-width: 30em) {
		width: 28em;
	}	

	.v65-cartItem {
		margin-bottom: 1em;
		padding: 0.25em;
		@include clearfix;

		.v65-image {
			float: left;
			padding: 0 0.5em 0 0;
			text-align: center;
			width: 15%;
		}

		.v65-title {
			float: left;
			padding: 0 0.5em 0 0;
			text-align: left;
			width: 41%;
		}

		.v65-quantity {
			float: left;
			padding: 0 0.5em 0 0;
			text-align: right;
			width: 22%;
		}

		.v65-price {
			float: left;
			text-align: right;
			width: 22%;
		}
	}
}
					
	.v65-cartDropdownButtons {
		text-align: right;
	}

	.v65-cartMessage {
		text-align: right;
		margin-bottom: 1em;
	}

	.v65-cartSubTotal {
		@include clearfix;
		margin-bottom: 1em;
		text-align: right;

		span {
			font-weight: bold;
		}
	}

.v65-memberDropdown {
	background: #fff;
	border: 1px solid #ccc;
	display: none;
	position: absolute;
	padding: 0.5em 0.5em 0 0.5em;
	text-align: left;
	width: 20em;

	@media screen and (min-width: 30em) {
		top: 3em;
		left: 0;
		width: 14em;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding: 0;
	}
}