//v65:memberPages

.v65-memberLinkDashboard {
	background: url(../images/v65-icons/dashboard.svg) left top no-repeat;
	background-size: 18px;
	padding-left: 1.5em;
}

.v65-memberLinkProfile {
	background: url(../images/v65-icons/profile.svg) left top no-repeat;
	background-size: 18px;
	padding-left: 1.5em;
}

.v65-memberLinkOrderHistory {
	background: url(../images/v65-icons/history.svg) left top no-repeat;
	background-size: 18px;
	padding-left: 1.5em;
}

.v65-memberLinkClubMemberships {
	background: url(../images/v65-icons/club.svg) left top no-repeat;
	background-size: 18px;
	padding-left: 1.5em;
}

.v65-memberLinkAllocations {
	background: url(../images/v65-icons/star.svg) left top no-repeat;
	background-size: 18px;
	padding-left: 1.5em;
}

.v65-memberLinkAllocationHistory {
	background: url(../images/v65-icons/history.svg) left top no-repeat;
	background-size: 18px;
	padding-left: 1.5em;
}

.v65-memberLinkCreditCards {
	background: url(../images/v65-icons/credit-cards.svg) left top no-repeat;
	background-size: 18px;
	padding-left: 1.5em;
}

.v65-memberLinkAddressBook {
	background: url(../images/v65-icons/address-book.svg) left top no-repeat;
	background-size: 18px;
	padding-left: 1.5em;
}