//v65:clubList

//variables
$margin-bottom: 1.5rem !default;

.v65-clubList {
	margin-bottom: ($margin-bottom * 2);

	h2 {

	}

}
					
.v65-clubListTeaser {
	padding: 0 0 0 1em;
}

.v65-clubListLink {

}
