
//Dashboard Widget


//Forms

%v65-label,.v65-label {
	color: #666;
	display: inline-block;
	font-style: italic;
	font-size: 0.75em;
	padding-right: 0.5em;
}

// Text Generic
.v65-textCenter{
	text-align: center;
}

.v65-textLeft{
	text-align: left;
}

.v65-textRight{
	text-align: right;
}

.v65-floatRight{
	float: right;
}

.v65-floatLeft{
	float: left;
}

.v65-form{
	max-width: 27em;
}
