//member pages

.v65-memberDashboard {

	font-size: 0.875em;

	a {
		font-weight: bold;
	}

	h4 {
		border-bottom: 1px solid $hrColor;
		padding-bottom: 0.3em;
	}

	.v65-label {
		@extend %v65-label;
	}

}