<!DOCTYPE html>
<html>
   
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>

		<title>Base 3 - Checkout Print Receipt</title>

		<link rel="stylesheet" href="/assets/css/v65-base.min.css">
		<link rel="stylesheet" href="/assets/css/theme-vin65Basic.min.css">
	</head>

	<body>

		<header>

			<div class="logo">
				<img src="/assets/images/logo.svg" alt="Winery & Vineyard">
			</div>
			<!--/logo-->

		</header>

		<section>
			
			<article>

				<h1>Receipt</h1>

				<p>Order number: <span class="v65-orderNumber">123456</span></p>

				<div class="v65-checkout">
						
					<div class="v65-shippingInformation">

						<h3>Shipping Information</h3>

						<p>Signature is required for delivery</p>

						<p>
							Andrew Kamphuis<br>
							WineDirect<br>
							Unit 200 - 1190 Airport Blvd.<br>
							Napa, CA 94558<br>
							707.603.4047<br>
							andrew@winedirect.com  
						</p>

					</div>
					<!--/v65-shippingInformation-->

					<div class="v65-shippingOptions">

						<h3>Shipping Options</h3>

						<p>
							<strong>$0.00</strong> UPS Ground<br>
							Delivers in 7 - 10 business days.
						</p>
							

					</div>
					<!--/v65-shippingOptions-->

					<div class="v65-billingInformation">

						<h3>Billing Information</h3>

						<div class="v65-row">
						
							<div class="v65-billingContact">

								<p>
									Andrew Kamphuis<br>
									WineDirect<br>
									Unit 200 - 1190 Airport Blvd.<br>
									Napa, CA 94558<br>
									707.603.4047<br>
									andrew@winedirect.com  
								</p>

							</div>
							<!--/v65-billingContact-->

							<div class="v65-paymentInformation">

								<p>
									<span class="v65-creditCard v65-visaOn">Visa</span><br>
									Peter Andres<br>
									**** **** **** 4545<br>
									Exp.03/15
								</p>

							</div>
							<!--/v65-paymentInformation-->

						</div>
						<!--/v65-row-->

					</div>
					<!--/v65-billingInformation-->

				</div>
				<!--/v65-checkout-->


				<div class="v65-checkoutTools">
						
					<div class="v65-checkoutSummary">
						
						<h3>Cart Summary</h3>

						<div class="v65-cartItem">

							<div class="v65-image">
								<img src="../assets/images/products/list/Wine-1.jpg">
							</div>
							<!--/image-->

							<div class="v65-info">

								<div class="v65-meta">
									2005 Sample Wine Cabernet Sauvignon
									<div class="v65-sku">SKU: <em>123456</em></div>
								</div>
								<!--/title-->

								<div class="v65-pricing">

									<div class="v65-totalPrice">
										$25.<sup>00</sup>
									</div>
									<!--/totalPrice-->

									<div class="v65-skuPrice">
													
										<span class="v65-price">
											$25.<sup>00</sup>
										</span>
										<!--/price-->

										<span class="v65-skuDescription">
											bottle
										</span>
										<!--/skuDescription-->

									</div>
									<!--/sku-->

								</div>
								<!--/pricing-->

							</div>
							<!--/info-->
							
						</div>
						<!--/v65-cartItem-->

						<div class="v65-cartItem">

							<div class="v65-image">
								<img src="../assets/images/products/list/Wine-2.jpg">
							</div>
							<!--/image-->

							<div class="v65-info">

								<div class="v65-meta">
									2005 Sample Wine Cabernet Sauvignon
									<div class="v65-sku">SKU: <em>123456</em></div>
								</div>
								<!--/v65-meta-->

								<div class="v65-pricing">

									<div class="v65-totalPrice">
										$25.<sup>00</sup>
									</div>
									<!--/totalPrice-->

									<div class="v65-skuPrice">
													
										<span class="v65-price">
											$25.<sup>00</sup>
										</span>
										<!--/price-->

										<span class="v65-skuDescription">
											bottle
										</span>
										<!--/skuDescription-->

									</div>
									<!--/sku-->

								</div>
								<!--/pricing-->

							</div>
							<!--/info-->
							
						</div>
						<!--/v65-cartItem-->

						<div class="v65-cartItem">

							<div class="v65-image">
								<img src="../assets/images/products/list/Wine-3.jpg">
							</div>
							<!--/image-->

							<div class="v65-info">

								<div class="v65-meta">
									2005 Sample Wine Cabernet Sauvignon
									<div class="v65-sku">SKU: <em>123456</em></div>
								</div>
								<!--/title-->

								<div class="v65-pricing">

									<div class="v65-totalPrice">
										$25.<sup>00</sup>
									</div>
									<!--/totalPrice-->

									<div class="v65-skuPrice">
													
										<span class="v65-price">
											$25.<sup>00</sup>
										</span>
										<!--/price-->

										<span class="v65-skuDescription">
											bottle
										</span>
										<!--/skuDescription-->

									</div>
									<!--/sku-->

								</div>
								<!--/pricing-->

							</div>
							<!--/info-->
							
						</div>
						<!--/v65-cartItem-->

						<div class="v65-cartItem">

							<div class="v65-image">
								<img src="../assets/images/products/list/Label.jpg">
							</div>
							<!--/image-->

							<div class="v65-info">

								<div class="v65-meta">
									2005 Sample Wine Cabernet Sauvignon
									<div class="v65-sku">SKU: <em>123456</em></div>
								</div>
								<!--/title-->

								<div class="v65-pricing">

									<div class="v65-totalPrice">
										$25.<sup>00</sup>
									</div>
									<!--/totalPrice-->

									<div class="v65-skuPrice">
													
										<span class="v65-price">
											$25.<sup>00</sup>
										</span>
										<!--/price-->

										<span class="v65-skuDescription">
											bottle
										</span>
										<!--/skuDescription-->

									</div>
									<!--/sku-->

								</div>
								<!--/pricing-->

							</div>
							<!--/info-->
							
						</div>
						<!--/v65-cartItem-->

						<div class="v65-cartSummary">
							<div class="v65-subtotal">
								<span class="v65-label">Subtotal:</span>
								<span class="v65-value">$257.<sup>00</sup></span>
							</div>
							<div class="v65-shipping">
								<span class="v65-label">Shipping WA:</span>
								<span class="v65-value">$257.<sup>00</sup></span>
							</div>
							<div class="v65-taxes">
								<span class="v65-label">Taxes:</span>
								<span class="v65-value">$257.<sup>00</sup></span>
							</div>
							<div class="v65-total">
								<span class="v65-label">Total:</span>
								<span class="v65-value">$257.<sup>00</sup></span>
							</div>
						</div>
						<!--/cartSummary-->

					</div>
					<!--/checkoutSummary-->

				</div>
				<!--/v65-checkoutTools-->

				

			</article>
			
		</section>

	   
	</body>

</html>
