<!DOCTYPE html>
<html>
   
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>

		<title>Base 3 - Checkout Print Receipt</title>

		<link rel="stylesheet" href="/assets/css/v65-base.min.css">
		<link rel="stylesheet" href="/assets/css/theme-vin65Basic.min.css">
	</head>

	<body>

		<header>

			<div class="logo">
				<img src="/assets/images/logo.svg" alt="Winery & Vineyard">
			</div>
			<!--/logo-->

		</header>

		<section>
			
			<article>

				<h1>Club Sign Up Complete - Thank You!</h1>

				<p>You will receive an email confirmation shortly at andrew@winedirect.com</p>

				<div class="v65-checkout">
						
					<div class="v65-shippingInformation">

						<h3>Shipping Information</h3>

						<p>Signature is required for delivery</p>

						<p>
							Andrew Kamphuis<br>
							WineDirect<br>
							Unit 200 - 1190 Airport Blvd.<br>
							Napa, CA 94558<br>
							707.603.4047<br>
							andrew@winedirect.com  
						</p>

					</div>
					<!--/v65-shippingInformation-->

					<div class="v65-shippingOptions">

						<h3>Shipping Options</h3>

						<p>
							<strong>$0.00</strong> UPS Ground<br>
							Delivers in 7 - 10 business days.
						</p>
							

					</div>
					<!--/v65-shippingOptions-->

					<div class="v65-billingInformation">

						<h3>Billing Information</h3>

						<div class="v65-row">
						
							<div class="v65-billingContact">

								<p>
									Andrew Kamphuis<br>
									WineDirect<br>
									Unit 200 - 1190 Airport Blvd.<br>
									Napa, CA 94558<br>
									707.603.4047<br>
									andrew@winedirect.com  
								</p>

							</div>
							<!--/v65-billingContact-->

							<div class="v65-paymentInformation">

								<p>
									<span class="v65-creditCard v65-visaOn">Visa</span><br>
									Peter Andres<br>
									**** **** **** 4545<br>
									Exp.03/15
								</p>

							</div>
							<!--/v65-paymentInformation-->

						</div>
						<!--/v65-row-->

					</div>
					<!--/v65-billingInformation-->

				</div>
				<!--/v65-checkout-->


				<div class="v65-checkoutTools">
						
					<div class="v65-checkoutSummary">
						
						<h3>Club Description</h3>
	
						<p>Curabitur pulvinar interdum condimentum. Duis imperdiet ultricies nisi, ut laoreet lacus laoreet id. Pellentesque id ultrices purus. Integer ante enim, porta vitae tincidunt hendrerit, consectetur vitae risus. Cras at erat est, non dapibus diam. Aliquam pharetra posuere massa sed egestas. Fusce mi orci, facilisis ac facilisis eu, placerat a velit.</p>

						<ul>
							<li>Aenean facilisis lectus sem, eu cursus lorem.</li>
							<li>Sed dui sem, gravida ut molestie nec, facilisis non leo.</li>
							<li>Ut elit ante, blandit eget interdum venenatis.</li>
						</ul>

						<p>Sed ut tellus nisi, a pellentesque lacus. Sed ante tellus, interdum ac malesuada quis, hendrerit at enim. Nam accumsan urna sit amet massa scelerisque varius. Phasellus adipiscing tempus pretium. Phasellus vestibulum viverra convallis. Aenean facilisis lectus sem, eu cursus lorem. Donec elementum elementum porttitor. Quisque et vehicula lorem. Sed dui sem, gravida ut molestie nec, facilisis non leo. Morbi velit turpis, pulvinar id porttitor at, pretium a nibh. Ut elit ante, blandit eget interdum venenatis, posuere ut metus. Cras odio orci, venenatis id fringilla nec, pulvinar ac lorem.</p>

					</div><!--/v65-checkoutSummary-->

				</div>
				<!--/v65-checkoutTools-->
				

			</article>
			
		</section>

	   
	</body>

</html>
