<!DOCTYPE html>
<html>
   
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>

		<title>Base 3 - Page FAQ</title>

		<link rel="stylesheet" href="/assets/css/v65-base.min.css">
		<link rel="stylesheet" href="/assets/css/theme-vin65Basic.min.css">
	</head>

	<body>

		<section class="v65-tools">
			   
			<div class="v65-user">
				
				<div class="v65-welcome">
					<a href="javascript:vin65.member.toggleMemberMenu();">
						<span>Welcome</span> Andrew
					</a>

					<div class="v65-memberDropdown">
						<ul>
							<li><a href="member-dashboard.html" class="v65-memberLinkDashboard">Dashboard</a></li>
							<li><a href="member-profile.html" class="v65-memberLinkProfile">Profile</a> </li>
							<li><a href="member-order-history.html" class="v65-memberLinkOrderHistory">Order History</a></li>
							<li><a href="member-club-memberships.html" class="v65-memberLinkClubMemberships">Club Memberships</a> </li>
							<li><a href="member-allocations.html" class="v65-memberLinkAllocations">Allocations</a></li>
							<li><a href="member-allocation-history.html" class="v65-memberLinkAllocationHistory">Allocation History</a></li>
							<li><a href="member-credit-cards.html" class="v65-memberLinkCreditCards">Credit Cards</a></li> 
							<li><a href="member-address-book.html" class="v65-memberLinkAddressBook">Address Board</a></li> 
						</ul>
					</div><!--/v65-memberDropdown-->

				</div><!--/v65-welcome-->

				<div class="v65-logout">
					<a href="#">Logout</a>
				</div><!--/v65-logout-->

			</div>
			<!--/v65-user-->

			<div class="v65-cart">
				
				<a href="javascript:vin65.cart.toggleCart();">
					<span>Cart</span> 0 items: <strong>$0.00</strong>
				</a>

			</div>
			<!--/v65-cart-->

			<div class="v65-cartDropdown">
					
				<p class="v65-cartDropdownButtons">
					<a href="javascript:vin65.cart.toggleCart();" class="buttonAltSmall">Close</a>
				</p>

				<p class="v65-alert">
					Item was successfully added to your cart.
				</p>

				<div class="v65-cartItem">
					<div class="v65-image"><img src="/assets/images/products/cart/Wine-3.jpg"></div>
					<div class="v65-title">2005 Sample Wine Cabernet Sauvignon</div>
					<div class="v65-quantity">1 x $32.00</div>
					<div class="v65-price">$32.00</div>
				</div>

				<div class="v65-cartItem">
					<div class="v65-image"><img src="/assets/images/products/cart/Label.jpg"></div>
					<div class="v65-title">2005 Cabernet Sauvignon</div>
					<div class="v65-quantity">6 x $32.00</div>
					<div class="v65-price">$192.00</div>
				</div>

				<div class="v65-cartMessage">You have 3 more item(s) in your cart.</div>

				<div class="v65-cartSubTotal">Subtotal: <span>$70.00</span></div>

				<p class="v65-cartDropdownButtons">
					<a href="cart.html" class="buttonAltSmall">View Cart</a>
					<a href="checkout-login.html" class="buttonSmall">Check Out</a>
				</p>

			</div>
			<!--/v65-cartDropdown-->			

		</section>
		<!--/v65-tools-->

		<header>

			<div class="logo">
				<img src="/assets/images/logo.svg" alt="Winery & Vineyard">
			</div>
			<!--/logo-->

			<nav class="v65-mainNav">
				<ul>
					<li class="v65-home"><a href="home.html">Home</a></li>
					<li><a href="wine.html">Wine</a>
						<ul>
							<li><a href="wine.html">Red</a></li>
							<li><a href="wine.html">White</a></li>
							<li><a href="wine.html">Rose</a></li>
						</ul>
					</li>
					<li><a href="club.html">Club</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="about.html">About</a>
						<ul>
							<li><a href="about.html">Vineyards</a></li>
							<li><a href="about.html">Philosophy</a></li>
							<li><a href="about.html">Team</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
			<!--/v65-mainNav-->

		</header>

		<section>
			
			<article class="pageContent">
					
				<h1>Component: FAQ</h1>

				<ol class="v65-faq">
					<li><a href="#Q1">Do wine aerators really work?</a></li>
					<li><a href="#Q2">Do wine aerators really work?</a></li>
					<li><a href="#Q3">Do wine aerators really work?</a></li>
					<li><a href="#Q4">Do wine aerators really work?</a></li>
					<li><a href="#Q5">Do wine aerators really work?</a></li>
					<li><a href="#Q6">Do wine aerators really work?</a></li>
				</ol>
				<!--/v65-faq-->

				<div class="v65-faqAnswer">
					<h4><a name="Q1"></a>Where does cork come from? </h4>
					<p>Corks are produced from the bark of a tree grown in the western Mediterranean. It is unique in that it can be peeled from the tree without hurting the tree.</p>

					<p class="v65-faqBackLink"><a href="#v65-faq" title="Back To List">Back to list</a></p>
				</div>
				<!--/v65-faqAnswer-->

				<div class="v65-faqAnswer">
					<h4><a name="Q2"></a>Where does cork come from? </h4>
					<p>Corks are produced from the bark of a tree grown in the western Mediterranean. It is unique in that it can be peeled from the tree without hurting the tree.</p>

					<p class="v65-faqBackLink"><a href="#v65-faq" title="Back To List">Back to list</a></p>
				</div>
				<!--/v65-faqAnswer-->

				<div class="v65-faqAnswer">
					<h4><a name="Q3"></a>Where does cork come from? </h4>
					<p>Corks are produced from the bark of a tree grown in the western Mediterranean. It is unique in that it can be peeled from the tree without hurting the tree.</p>

					<p class="v65-faqBackLink"><a href="#v65-faq" title="Back To List">Back to list</a></p>
				</div>
				<!--/v65-faqAnswer-->

				<div class="v65-faqAnswer">
					<h4><a name="Q4"></a>Where does cork come from? </h4>
					<p>Corks are produced from the bark of a tree grown in the western Mediterranean. It is unique in that it can be peeled from the tree without hurting the tree.</p>

					<p class="v65-faqBackLink"><a href="#v65-faq" title="Back To List">Back to list</a></p>
				</div>
				<!--/v65-faqAnswer-->

				<div class="v65-faqAnswer">
					<h4><a name="Q5"></a>Where does cork come from? </h4>
					<p>Corks are produced from the bark of a tree grown in the western Mediterranean. It is unique in that it can be peeled from the tree without hurting the tree.</p>

					<p class="v65-faqBackLink"><a href="#v65-faq" title="Back To List">Back to list</a></p>
				</div>
				<!--/v65-faqAnswer-->

				<div class="v65-faqAnswer">
					<h4><a name="Q6"></a>Where does cork come from? </h4>
					<p>Corks are produced from the bark of a tree grown in the western Mediterranean. It is unique in that it can be peeled from the tree without hurting the tree.</p>

					<p class="v65-faqBackLink"><a href="#v65-faq" title="Back To List">Back to list</a></p>
				</div>
				<!--/v65-faqAnswer-->
				
				
			</article>
			<!--/pageContent-->

			<aside>
				
				<div class="v65-sectionTitle">
					Components
				</div>
				<!--/v65-sectionTitle-->

				<div class="v65-subNav">
					<ul>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="page-business-locator.html">Business Locator</a></li>
						<li><a href="page-calendar.html">Calendar</a></li>
						<li><a href="page-calendar-block.html">Calendar Block</a></li>
						<li><a href="page-club-list.html">Club List</a></li>
						<li><a href="page-custom-form.html">Custom Form</a></li>
						<li><a href="page-documents.html">Documents</a></li>
						<li><a href="page-faq.html">FAQ</a></li>
						<li><a href="page-photo-gallery.html">Photo Gallery</a></li>
						<li><a href="page-recipes.html">Recipes</a></li>
						<li><a href="page-search-results.html">Search Results</a></li>
						<li><a href="page-site-map.html">Site Map</a></li>
					</ul>
				</div>
				<!--/v65-subNav-->

			</aside>

			
		</section>

		<footer>
			
			<div class="v65-footerNav">
				<ul>
					<li><a href="terms-of-use.html">Terms of Use</a></li>
					<li><a href="returns-cancellations.html">Returns &amp; Cancellations</a></li>
					<li><a href="privacy-policy.html">Privacy Policy</a></li>
					<li><a href="contact-us.html">Contact Us</a></li>
				</ul>
			</div>
			<!--/v65-footerNav-->

			<p class="footerTools"> 
				<a href="tel:1-8999-999-9999">Call Us Toll Free: <strong>1-999-999-9999</strong></a>
				<a href="mailto:info@generic.com">info@generic.com</a></li>
				<a href="http://maps.google.com">Box 0000, City, State PostalCode</a></li>
			</p>
			<!--/footerTools-->

			<p class="footerLegal">
				<span class="v65-copyright">
					&copy; Copyright 2014 Generic
				</span><!--/v65-vin65Accolade-->
				<span class="v65-vin65Accolade">
					<a href="http://www.vin65.com">Site by Vin65</a>
				</span><!--/v65-vin65Accolade-->
			</p>
			<!--/footerLegal-->

		</footer>


		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery/jquery-2.1.1.min.js"><\/script>')</script>
		
		<script src="/assets/js/scripts.js"></script>
	   
	</body>

</html>
